/******status bar******/
.top-bar{
    background-color: #ccc;
}

.myTab{
    list-style: none;
}

ul.myTab li{
    margin: 0px;
    padding: 5px !important;
    text-align: center;
    border-right: 1px solid #aaa;
    text-decoration: none;
    color: #aaa;
}

.myTab li:last-child{
    border-right: none;
}

.myTab .active {
    color: #000;
}
/*******item table style *******/

#row_4{
   border-bottom: 1px solid #aaa;
}
.table .row > td{
    padding: 10px;
}

#row_4 > td:nth-child(4) select{
    width: 40px;
}


.cartImg{
    height: 125px;
    width: 110px;
    margin-bottom: 0px;
}

.product_name{
    color: #003366;
}

.product_code{
    font-size: small;
    color: #3c3c3c;
}

.product_price{
    font-size: medium;
    color: red;
}

.prod_description{
    font-size: small;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}


/*****product quantity*********/
.plus, .minus{
    width: 20%;
}

.product-count{
    width: 30%;
    text-align: center;
}

table.item-table td, table.summary-table td{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}