.cartImg{
    height: 125px;
    width: 110px;
    margin-bottom: 0px;
}

.product_name{
    color: #003366;
}

.product_code{
    font-size: small;
    color: #3c3c3c;
}

.product_price{
    font-size: medium;
    color: red;
}

#btnpay{
    float: right;
}

.prod_description{
    font-size: small;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}