#group_discount{
    font-size: large;
    color: red;
}

#product_name{
    text-align: center;
    margin-bottom: 25px;
}

#mainImg{
    width: 350px;
    height: 400px;
}

.table>tbody>tr{
    border: hidden;
}