.board .nav-tabs {
    position: relative;
    box-sizing: border-box;
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

.board-inner{
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one{
    color: #f1685e;
    border: 2px solid #ddd;
}

li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #f1685e;
    color: #f1685e;
}

span.round-tabs.three{
    color: #3e5e9a;
    border: 2px solid #ddd;
}

li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #3e5e9a;
    color: #3e5e9a;
}

span.round-tabs.five{
    color: rgb(34, 194, 34);
    border: 2px solid #ddd;
}

li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid rgb(34, 194, 34);
    color: rgb(34, 194, 34);
}

.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > li {
    width: 20%;
}

li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;

}
li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;

}
.nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-pane{
   position: relative;
padding-top: 50px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    color: #ffffff;
}

/*

product summary view

*/
.cartImg{
    height: 100px;
    width: 75px;
    margin-bottom: 0px;
}

.product_name{
    color: #003366;
}

.product_code{
    font-size: small;
    color: #3c3c3c;
}

.product_price{
    font-size: medium;
    color: red;
}

#btnpay{
    float: right;
}