/* reset the bootstrap */
.container *[class^="col-"] {
    padding: 0px;
}

.container *.form-group {
    margin: 0px;
}

/****font*****/
h1#product_name{
    font-size: 200%;
}

.title{
    margin: 0px;
    padding:10px;
}

/***Layout***/
.clearboth {
    clear: both;
}
.hr {
    display: block;
    margin: 20px 0;
    line-height: 150%;
    border-bottom: 1px solid grey;
    content: " ";
}

.container .outer-left
{
    padding-right: 10px;
}

.outer-left .inner, .outer-right .inner{
    background-color: #ffffff;
    padding: 10px 15px;
}


.header{
    margin-top: 10px;
}
/******left top box*****/

#heart, #like{
    float: right;
    margin: 10px 5px;
}
#mainImg {
    width: 350px;
    height: 400px;
}

    /****carousel*****/
#carousel-custom {
    margin: 20px auto;
    width: 100%;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    position: static;
    text-align: left;
    white-space: nowrap;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}


/******right top box****/
#product_code {
    font-size: small;
    font-style: oblique;
}

#regular_price #sale_price {
    color: darkred;
}

.container .margin-top-10 {
    margin-top: 10px;
}

.container .margin-top-10 label {
    font-size: 100%;
    font-weight: normal;
    padding-top: 5px;
}

/***middle row****/
.header{
    background-color: #cccccc;
}

/******bottom row****/
    /*****carousel****/
.row-3{
    overflow: hidden;
}

#recommendation .content_carousel {
    float: left;
}

#recommendation .arrow {
	display: block;
	width: 25px;
	font-size: 35px;
	font-weight: bold;
	line-height: 160px;
	text-align: center;
	cursor: pointer;
	float: left;
}

#recommendation .arrow:hover {
	color: #0FC491;
}

.nav-tabs>li>a {
    font-size: medium;
    padding-bottom: 0px;
    padding-top: 0px;
}

#social_block {
    text-align: left;
}

#product_like {
    margin-bottom: 10px;
}

#create_group {
    margin-top: 15px;
}

#view_group {
    margin-top: 15px;
}


article ul,
article ul li {
    margin-left: 0;
}

#recommend-buy > div {
    padding: 10px;
}



