#mainImg{
    width: 350px;
    height: 400px;
}

#product_name{
    text-align: center;
}

.product_info{
    font-size: large;
}

#product_code{
    font-size: small;
    font-style: oblique;
}

#regular_price #sale_price{
    color: darkred;
}

.nav-tabs>li>a{
    font-size: medium;
    padding-bottom: 0px;
    padding-top: 0px;
}

#social_block{
    text-align: left;
}