body {
  background-color: #eee;
}

.user-modal-nav{
    cursor: pointer;
}
/********sign in or sign up form modal window**********/
.user-modal{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(52,54,66,0.9);
    z-index: 3;
    overflow-y: hidden;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

.user-modal.is-visible{
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
}

.user-modal-container{
    position: relative;
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    margin: 4em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
}

.user-modal-container .switcher:after{
    content: "";
    display: table;
    clear: both;
}

.user-modal-container .switcher{
    list-style: none;
}

.user-modal-container .switcher li{
    width: 50%;
    float: left;
    text-align: center;
}

.user-modal-container .switcher li:first-child a {
    border-radius: .25em 0 0 0;
}
.user-modal-container .switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}
.user-modal-container .switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    background: #d2d8d8;
    color: #809191;



}
.user-modal-container .switcher a.selected {
    background: #fff;
    color: #5DC3A7;

}
#signup.is-selected, #signin.is-selected{
    display: block;
}

#signup, #signin{
    display: none;
}
/**********form style ***********/
.user-form{
    padding: 1.4em;
}

.user-form fieldset{
    position: relative;
    margin: 1.4em 0;
}

.user-form label {
  font-size: 14px;
  font-size: 0.875rem;
}

.user-form input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}
.user-form input.full-width {
  width: 100%;
}
.user-form input.has-padding {
  padding: 12px 20px 12px 50px;
}
.user-form input.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.user-form input.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}

.user-form input[type=submit] {
    display: block;
    width: 30%;
    margin: 0 auto;
    cursor: pointer;
    padding: 5px 20px;
	background: #5DC3A7;
	border: none;
	color: #fff;
	border-bottom: 3px solid #23AA84;
	border-radius: 3px;
    font-size: 150%;
}
.user-form input[type=submit]:active{
	margin: 18px 10px;
}
.user-form input[type=submit]:hover{
	background-color: #0FC491;
}

label.form-message{
    font-size: 120%;
    font-weight: normal;
}

.close-form {
  /* form X button on top right */
    display: block;
    color: #000;
    text-align: center;
    border-top: 1px solid #5DC3A7;
    padding: 5px;

}

/*****drop down form style****/
nav .dropdown-content{
    display: none;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 999;
  background: #444;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: -webkit-linear-gradient(top, #444, #000);
  background-image: -moz-linear-gradient(top, #444, #000);
  background-image: -ms-linear-gradient(top, #444, #000);
  background-image: -o-linear-gradient(top, #444, #000);
  background-image: linear-gradient(top, #444, #000);
  padding: 15px;
  -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  -moz-border-radius: 3px 0 3px 3px;
  -webkit-border-radius: 3px 0 3px 3px;
  border-radius: 3px 0 3px 3px;
}

nav .form-style input{
    background: #efefef;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 220px;
  border: 1px solid #222222;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px #efefef inset;
  -webkit-box-shadow: 0 1px 1px #efefef inset;
  box-shadow: 0 1px 1px #efefef inset;

}

nav .form-style input:focus{
  background-color: #fff;
  border-color: #bf4c24;
  outline: none;
  -moz-box-shadow: 0 0 0 1px #efefef inset;
  -webkit-box-shadow: 0 0 0 1px #efefef inset;
  box-shadow: 0 0 0 1px #efefef inset;
}

#signin-btn, #signup-btn{
	float: right;
	padding: 5px;
	margin-top: 10px;
	background: #5DC3A7;
	border: none;
	color: #fff;
	border-bottom: 3px solid #23AA84;
	border-radius: 3px;
	cursor: pointer;
}
#signin-btn:active, #signup-btn:active{
	margin: 18px 10px;
}

#signin-btn:hover, #signup-btn:hover{
	background-color: #0FC491;
}

#forgot-link{
	font-size: 14px;
	line-height: 45px;
	color: #5DC3A7;
	display: inline-block;
}

#forgot-link:hover{
	color: #23AA84;
}

