<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="User Name" required>
        <br>
        <input type="text" name="password" placeholder="Password" required>
        <br>
        <input type="submit" name="submitBtn" value="Login">
{#        <input type="hidden" name="next" value="{{ next|escape }}" />#}
    </form>
</body>
</html>