{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}
{% block content %}

    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <img id="mainImg" src="">

    <p><span>{{ category_parent }}</span> - <span>{{ category_name }}</span></p>

    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/util.js" %}"></script>
    <script type="text/javascript">
        $(function() {
            scroll_carousel($('#handpick'), 2);
        });
    </script>

    <div class="product-grid row"></div> <!-- Three columns of text below the carousel -->

    <div style="margin-left: auto; margin-right: auto; text-align: center"><button id="btn"></button></div>

    <script type="text/javascript">
        var host = window.location.origin;
        var product_lite = $('<div class="product-thumbnail col-lg-4 col-md-4 col-sm-6"><div class="inner"><a><img class="img-thumbnail" alt="Generic placeholder image" style="width: 320px; height: 350px;" /></a><h5>Title</h5><h5>Price</h5></div></div>');
        var image_dir = "{{ storage_host }}" + "{% static 'products/' %}";
        var container = $(".product-grid");
        var load_btn = $("#btn");
        var number_columns = 3; // fixed value, do not change

        var msg_load_more = 'Load More';

        var catch_data = null;

        $( document ).ready(ajaxCall(null));

        function ajaxCall(api_url){
            if(api_url == null || api_url == undefined){
                api_url = host + "/api/products/filter/" + {{ category_id }} + "?format=json";
            }
            $.ajax({
            type: "GET",
            url: api_url,
            dataType: "json"
            }).success(function(data, textStatus, jqXHR){

                loadPage(data);

            }).fail(function(jqXHR, textStatus){
                alert('Request Failed');
            });
        }

        function loadPage(data){
            catch_data = data;
            if(hasNext(data)){
                load_btn.html(msg_load_more);
                loadProduct(data.results);
            }else{
                load_btn.hide();
                loadProduct(data.results);      // To Do -- display number of items only multiple of 3
                catch_data = null;              // set tmp var to null when no use anymore
                load_btn.visibility = false;    // TO DO -- disable load button ?
            }
        }

        function loadProduct(list){
            $.each(list, function(i, item){
                var elem = product_lite.clone();
                elem.children('div').children('a').eq(0).attr('href', host + "/product/" + item.pk);
                elem.find('img').attr('src', image_dir + item.product_code + "/" + "b_alternate_1.jpg");
                var prod_display_name = item.product_name;
                if(prod_display_name.length > 40){
                    prod_display_name = prod_display_name.substr(0, 40) + " ...";
                }
                elem.find('h5').slice(0, 1).text(prod_display_name);
                elem.find('h5').slice(1, 2).text(item.price);
                container.append(elem);
            });
        }

        function hasNext(data){
            return data.next != null;
        }

        function hasPrevious(data){
            return data.previous != null;
        }

        function getTotalCount(data){
            return data.count;
        }

        function clearAll(){
            container.empty()
        }

        load_btn.on('click', function(){
            var url = catch_data.next;
            ajaxCall(url);
        });
    </script>

{% endblock %}