{% extends "base.html" %}
{% load staticfiles %}

{% block slides %}
<!-- Carousel ================================================== -->

    {% if welcome %}
        <div class="alert alert-success">
            Welcome ! You successfully Signup to 1 dots!
        </div>
    {% endif %}
    <section class="main-slider">
        <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{{ storage_host }}/static/slides/designer_main.jpg" alt="First slide">
{#          <div class="container">#}
{#            <div class="carousel-caption">#}
{#              <h1>Example headline.</h1>#}
{#              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>#}
{#              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>#}
{#            </div>#}
{#          </div>#}
                </div>
                <div class="item">
                    <img src="{{ storage_host }}/static/slides/slide_2.jpg" alt="Second slide">
                </div>
                <div class="item">
                    <img src="{{ storage_host }}/static/slides/slide_3.jpg" alt="Third slide">
                </div>
            </div>
            <div class="control-box">
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                   <i class="fa fa-chevron-left"></i>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </div><!-- /.carousel -->
    </section>
    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <script>
        $(function() {
            $('#myCarousel').carousel({
                interval: 10000
            });
        });
    </script>
{% endblock %}

{% block content %}

    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/util.js" %}"></script>
    <script type="text/javascript">
        $(function() {
            scroll_carousel($('#handpick'), 2);
        });
    </script>
    <style type="text/css">
    #handpick {
        padding: 10px;
    }

    #handpick .handpick-header{
        overflow: hidden;
    }

    #handpick li img {
        display: block;
    }

    #handpick li {
        width: 550px;
    }

    #handpick .content_carousel {
        margin: 0 auto;
    }
    </style>
    <!--handpicked products slide show -->

    <div class="row">
        <div id="handpick" class="scroll-carousel">
            <div class="handpick-header">
                <h6 class="col-md-1 prev arrow">&lt;</h6>
                <h6 class="col-md-10 title">Handpicked for you</h6>
                <h6 class="col-md-1 next arrow">&gt;</h6>
            </div>
            <div class="content_carousel">
                <ul>
                    <li>
                        <a href="#">
                            <img src="http://placehold.it/550x500">
                            <span>Title</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="http://placehold.it/550x500">
                            <span>2</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="http://placehold.it/550x500">
                            <span>3</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="http://placehold.it/550x500">
                            <span>4</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="http://placehold.it/550x500">
                            <span>5</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="http://placehold.it/550x500">
                            <span>6</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="http://placehold.it/550x500">
                            <span>7</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="http://placehold.it/550x500">
                            <span>8</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="product-grid row"></div> <!-- Three columns of text below the carousel -->

    <div style="margin-left: auto; margin-right: auto; text-align: center"><button id="btn"></button></div>

    <script type="text/javascript">
        var host = window.location.origin;
        var product_lite = $('<div class="product-thumbnail col-lg-4 col-md-4 col-sm-6"><div class="inner"><a><img class="img-thumbnail" alt="Generic placeholder image" style="width: 320px; height: 350px;" /></a><h5>Title</h5><h5>Price</h5></div></div>');
        var image_dir = "{{ storage_host }}" + "{% static 'products/' %}";
        var container = $(".product-grid");
        var load_btn = $("#btn");
        var number_columns = 3; // fixed value, do not change

        var msg_load_more = 'Load More';

        var catch_data = null;

        $( document ).ready(ajaxCall(null));

        function ajaxCall(api_url){
            if(api_url == null || api_url == undefined){
                api_url = host + "/api/products/?format=json";
            }
            $.ajax({
            type: "GET",
            url: api_url,
            dataType: "json"
            }).success(function(data, textStatus, jqXHR){

                loadPage(data);

            }).fail(function(jqXHR, textStatus){
                alert('Request Failed');
            });
        }

        function loadPage(data){
            catch_data = data;
            if(hasNext(data)){
                load_btn.html(msg_load_more);
                loadProduct(data.results);
            }else{
                load_btn.hide();
                loadProduct(data.results);      // To Do -- display number of items only multiple of 3
                catch_data = null;              // set tmp var to null when no use anymore
                load_btn.visibility = false;    // TO DO -- disable load button ?
            }
        }

        function loadProduct(list){
            $.each(list, function(i, item){
                var elem = product_lite.clone();
                elem.children('div').children('a').eq(0).attr('href', host + "/product/" + item.pk);
                elem.find('img').attr('src', image_dir + item.product_code + "/" + "b_alternate_1.jpg");
                var prod_display_name = item.product_name;
                if(prod_display_name.length > 40){
                    prod_display_name = prod_display_name.substr(0, 40) + " ...";
                }
                elem.find('h5').slice(0, 1).text(prod_display_name);
                elem.find('h5').slice(1, 2).text(item.price);
                container.append(elem);
            });
        }

        function hasNext(data){
            return data.next != null;
        }

        function hasPrevious(data){
            return data.previous != null;
        }

        function getTotalCount(data){
            return data.count;
        }

        function clearAll(){
            container.empty()
        }

        load_btn.on('click', function(){
            var url = catch_data.next;
            ajaxCall(url);
        });
    </script>

{% endblock %}
