{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    {{ user.username }}
    {% if user.is_anonymous %}
    <p>nobody here...</p>
    {% endif %}

    <button id="btn" onclick="loadProducts()">show products</button>

    <div id="product_list"><p></p><p></p></div>

    <div id="product_result"></div>

    <script type="javascript">
        function loadProducts(){
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:8000/api/products/",
                dataType: "json"
            }).success(function(data, textStatus, jqXHR){
                $.each(data.result, function(i, item){
                    var elem = $("#product_list").clone();
                    elem.children('p').eq(0).html(item.product_name);
                    elem.children('p').eq(1).html(item.product_code);
                    $("#product_result").append(elem);
                });
            }).fail(function(jqXHR, textStatus){
                alert('Request Failed');
            });
        }
    </script>

{% endblock %}


