{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
{#    <script src="{% static "js/load_products.js" %}"></script>#}

    <div class="row"></div>

    <button id="btn">load more</button>

    <script type="text/javascript">
        var host = window.location.origin;
        var product_lite = $('<div class="col-lg-4"><a><img class="img-thumbnail" alt="Generic placeholder image" style="width: 320px; height: 350px;" /></a></div>');
        var image_dir = host + "/static/products/";
        var container = $(".row");
        var number_columns = 3; // fixed value, change if need
        var initial_rows = 10;  // fixed value, change if need
        var each_load_rows = 5; // fixed value, change if need

        var product_list = null;
        var total_rows = 0;
        var total_pages = 0;
        var page_count = 0;
        var list_index = 0;

        $( document ).ready(function(){
            clearAll(); // clean all contents first
            $.ajax({
            type: "GET",
            url: host + "/api/products/?format=json",
            dataType: "json"
            }).success(function(data, textStatus, jqXHR){
                // initiate product objects list
                product_list = data.results;
                total_rows = parseInt(product_list.length / number_columns);
                if(total_rows < initial_rows){
                    initial_rows = total_rows;
                    total_pages = 1;
                }else{
                    var rest_number_of_rows = total_rows - initial_rows;
                    if(rest_number_of_rows % each_load_rows > 0){
                        total_pages = rest_number_of_rows / each_load_rows + 2;
                    }else{
                        total_pages = rest_number_of_rows / each_load_rows + 1;
                    }
                }
                // initiate product list page
                initialPage();

            }).fail(function(jqXHR, textStatus){
                alert('Request Failed');
            });
        });

        $("#btn").on('click', function(){

        });

        function initialPage(){
            for(list_index; list_index < initial_rows * number_columns; list_index++){
                var item = product_list[list_index];
                fillContent(item);
            }
            page_count++;
        }

        function loadPage(){
            if(hasNext()){

            }
        }

        function fillContent(item){
            var elem = product_lite.clone();
            elem.children('a').eq(0).attr('href', item.url);
            elem.find('img').attr('src', image_dir + item.image_root + "/main.jpg");
            container.append(elem);
        }

        function hasNext(){
            return page_count < total_pages;
        }

        function clearAll(){
            container.empty()
        }
    </script>

{% endblock %}
