{% extends "base.html" %}
{% load staticfiles %}
{#<link href="{% static 'css/signin.css'%}" rel="stylesheet">#}
{% block content %}

    <form class="form-signin" id="login_form" action="" method="post">
        {% csrf_token %}

            <h2 class="modal-title form-signin-heading">Please Sign In</h2>

            <label for="inputEmail" class="sr-only">User Name</label>
            <input type="text" name="username" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" id="login_submit" type="submit">Login</button>
    </form>

{% endblock %}