{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <img id="mainImg" src="">

    <label>product name --- </label>{{ product.product_name }}<br>
    <label>product code --- </label>{{ product.product_code }}<br>
    <label>price ---------- </label>{{ product.price }}<br>
    <label>designer name -- </label>{{ product.designer }}<br>

    <br>
    {% if show_join %}
        <button>Join M-Group</button>
    {% else %}
        <label style="color: red;">You already in M-Group</label>
    {% endif %}

    <br>
    <br>
    <label>group name --- </label>{{ group.pk }}<br>
    <label>owner name --- </label>{{ group.owner.username }}<br>
    <label>create date ---------- </label>{{ group.created_date }}<br>
    <label>activate line -- </label>{{ group.activate_line }}<br>

    <script type="text/javascript">

        var total_seconds = {{ remain_time }};
        var interval = 1000;

        $( document ).ready(loadPage());

        function loadPage(){
            console.log(total_seconds);
        }


        function ShowCountDown(divname)
        {
            var leftsecond = total_seconds--;
            var hour=Math.floor(leftsecond/3600);
            var minute=Math.floor((leftsecond-hour*3600)/60);
            var second=Math.floor(leftsecond-hour*3600-minute*60);
            var cc = document.getElementById(divname);
            cc.innerHTML = ('0' + hour).slice(-2) + ":" + ('0' + minute).slice(-2) + ":" + ('0' + second).slice(-2);
        }
        window.setInterval(function(){ShowCountDown('divdown1');}, interval);

    </script>

    <div id="divdown1"></div>

{% endblock %}