{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}

{% block content %}

    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <link href="{% static 'css/microgroup.css'%}" rel="stylesheet">

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "1d0d7a7d-7be0-4769-ab66-f1a5620bb556", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>

    <div id="alert_msg" class="" style="display:none;"></div>

    <h2 id="product_name">{{ product.product_name }}</h2>

    <div class="row featurette">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <img id="mainImg" src="{{ storage_host }}{% static 'products' %}/{{ product.image_root }}" class="img-thumbnail" alt="Generic placeholder image">
            <div id="social_block">
                <span class='st_facebook_large'></span>
                <span class='st_twitter_large'></span>
                <span class='st_googleplus_large'></span>
                <span class='st_linkedin_large'></span>
                <span class='st_pinterest_large'></span>
            </div>
        </div>

        <div class="col-md-5 product_info">

            <table class="table row ">
                <tr>
                    <td class="col-md-4">group number</td>
                    <td class="col-md-4">{{ group.pk }}</td>
                </tr>
            </table>

          <span id="regular_price">${{ product.price }}</span>
          <br>
          <span id="group_discount">{%  show_percentage product.general_discount %}</span>
          <p id="product_code"></p>
          <label>group number : </label>{{ group.pk }}<br>
          <label>owner name --- </label>{% cut_email group.owner.username %}<br>
          <label>create date ---------- </label>{{ group.created_date }}<br>
          <label>activate line -- </label>{{ group.activate_line }}<br>
          <label>total members -- </label>{{ total_members }}<br>
          <label>remained time : </label><span id="remain_time"></span>
          <br>

            {% if show_join %}
                <button>Join M-Group</button>
            {% else %}
                <label style="color: red;">You already in M-Group, share now to invite your friends to join !</label>
            {% endif %}

        </div>
        <div class="col-md-1"></div>
      </div>

    <script type="text/javascript">

        var total_seconds = {{ remain_time }};
        var interval = 1000;

        $( document ).ready(loadPage());

        function loadPage(){
            console.log(total_seconds);
        }


        function ShowCountDown(divname)
        {
            var leftsecond = total_seconds--;
            var hour=Math.floor(leftsecond/3600);
            var minute=Math.floor((leftsecond-hour*3600)/60);
            var second=Math.floor(leftsecond-hour*3600-minute*60);
            var cc = document.getElementById(divname);
            cc.innerHTML = ('0' + hour).slice(-2) + ":" + ('0' + minute).slice(-2) + ":" + ('0' + second).slice(-2);
            if(leftsecond == 0){
                cc.innerHTML = "00:00:00";
                request_failed();
            }
        }
        window.setInterval(function(){ShowCountDown('remain_time');}, interval);

        function request_failed(){
            $("#alert_msg").attr("class", "alert alert-warning").html("Event time end !").fadeIn(2000, 0);
        }
    </script>

{% endblock %}