{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}

{% block content %}

    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <link href="{% static 'css/cart_style.css'%}" rel="stylesheet">
    <link href="{% static 'css/order_process.css'%}" rel="stylesheet">

    <div class="row">
        <div class="board">

            <div class="board-inner">
                <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                    <li class="active">
                        <a href="#home" data-toggle="tab" title="welcome"><span class="round-tabs one"><i class="glyphicon glyphicon-shopping-cart"></i></span></a>
                    </li>
                    <li>
                        <a href="#done" data-toggle="tab" title="completed" style="visibility: hidden;"><span class="round-tabs two"><i class="glyphicon glyphicon-ok"></i></span></a>
                    </li>
                    <li>
                        <a href="#messages" data-toggle="tab" title="bootsnipp goodies"><span class="round-tabs three"><i class="glyphicon glyphicon-gift"></i></span></a>
                    </li>
                    <li>
                        <a href="#settings" data-toggle="tab" title="blah blah" style="visibility: hidden;"><span class="round-tabs four"><i class="glyphicon glyphicon-comment"></i></span></a>
                    </li>
                    <li>
                        <a href="#done" data-toggle="tab" title="completed"><span class="round-tabs five"><i class="glyphicon glyphicon-ok"></i></span></a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <table class="table table-hover">
                        {% for order in orders.all %}
                            <tr id="row_{{ order.product.pk }}" class="row featurette">
                                <td class="col-md-2 product_image"><img class="cartImg thumbnail" src="{{ storage_host }}{% static 'products' %}/{{ order.product.image_root }}"></td>
                                <td class="col-md-5">
                                    <div class="row featurette">
                                        <p class="product_name"><a href="{% url 'design:product-view' order.product.pk %}">{{ order.product.product_name }}</a></p>
                                        <p class="product_number">{{ order.product.product_code }}</p>
                                    </div>
                                </td>
                                <td class="col-md-1 product_price">${{ order.product.price }}</td>
                                <td class="col-md-1"></td>
                                <td class="col-md-1">{{ order.number_items }}</td>
                                <td class="col-md-1"></td>
                                <td class="col-md-1">${%  calc_total order.number_items order.product.price %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="tab-pane fade" id="messages">
                    <h3 class="head text-center">Shipping Address</h3>
                    <p class="narrow text-center">Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.</p>
                    <p class="text-center"><a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a></p>
                </div>

                <div class="tab-pane fade" id="done"><div class="text-center"><i class="img-intro icon-checkmark-circle"></i></div>
                    <h3 class="head text-center">thanks for staying tuned! <span style="color:#f48260;">♥</span> Bootstrap</h3>
                    <p class="narrow text-center">Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.</p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}