{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}

{% block content %}

    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <link href="{% static 'css/order_process.css'%}" rel="stylesheet">

    <div class="row">
        <div class="board">

            <div class="board-inner">
                <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                    <li class="active">
                        <a href="#summary" data-toggle="tab" title="order summary"><span class="round-tabs one"><i class="glyphicon glyphicon-shopping-cart"></i></span></a>
                    </li>

                    <li><a href="#" data-toggle="tab" title="" style="visibility: hidden;"><span class="round-tabs two"><i class="glyphicon glyphicon-ok"></i></span></a></li>

                    <li>
                        <a href="#shipping" data-toggle="tab" title="shipping address"><span class="round-tabs three"><i class="glyphicon glyphicon-gift"></i></span></a>
                    </li>

                    <li><a href="#" data-toggle="tab" title="" style="visibility: hidden;"><span class="round-tabs four"><i class="glyphicon glyphicon-comment"></i></span></a></li>

                    <li>
                        <a href="#done" data-toggle="tab" title="process completed"><span class="round-tabs five"><i class="glyphicon glyphicon-ok"></i></span></a>
                    </li>
                </ul>
            </div>

            <div class="tab-content">
                <div class="row tab-pane fade in active" id="summary">
                    <table class="table table-hover">
                            <tr class="row header_row">
                                <th class="col-md-2"></th>
                                <th class="col-md-5">product</th>
                                <th class="col-md-1">price</th>
                                <th class="col-md-1"></th>
                                <th class="col-md-1">quantity</th>
                                <th class="col-md-1"></th>
                                <th class="col-md-1">total</th>
                            </tr>
                        {% for order in orders.all %}
                            <tr id="row_{{ order.product.pk }}" class="row featurette">
                                <td class="col-md-2 product_image"><img class="cartImg thumbnail" src="{{ storage_host }}{% static 'products' %}/{{ order.product.image_root }}"></td>
                                <td class="col-md-5">
                                    <div class="row featurette">
                                        <p class="product_name"><a href="{% url 'design:product-view' order.product.pk %}">{{ order.product.product_name }}</a></p>
                                        <p class="product_number">{{ order.product.product_code }}</p>
                                    </div>
                                </td>
                                <td class="col-md-1 product_price">${{ order.product.price }}</td>
                                <td class="col-md-1"></td>
                                <td class="col-md-1">{{ order.number_items }}</td>
                                <td class="col-md-1"></td>
                                <td class="col-md-1">${%  calc_total order.number_items order.product.price %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <p class="text-center"><a href="#shipping" data-toggle="tab" class="btn btn-success btn-outline-rounded green">Next<span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a></p>
                </div>

                <div class="tab-pane fade row" id="shipping">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <h3 class="head text-center">Shipping Address</h3>
                        <form class="form-signin" id="ship_form" action="" method="">
                            {% csrf_token %}
                            <label for="s_address1">Address 1:</label><input type="text" id="s_address1" name="address1" class="form-control" value="{{ profile.address1 }}">
                            <label for="s_address2">Address 2:</label><input type="text" id="s_address2" name="address2" class="form-control" value="{{ profile.address2 }}">
                            <label for="s_city">City:</label><input type="text" id="s_city" name="city" class="form-control" value="{{ profile.city }}">
                            <label for="s_state">State:</label><input id="s_state" type="text" name="state" class="form-control" value="{{ profile.state }}">
                            <label for="s_zip">Zip:</label><input type="text" id="s_zip" name="zip" class="form-control" value="{{ profile.zip }}">
                            <label for="s_phone1">mobile phone:</label><input type="text" id="s_phone1" name="phone1" class="form-control" value="{{ profile.phone1 }}">
                            <label for="s_phone2">home phone:</label><input type="text" id="s_phone2" name="phone2" class="form-control" value="{{ profile.phone2 }}">
                            <input type="checkbox" id="is_billing_address"/><label class="vCheckboxLabel" for="is_billing_address">Check if same as billing address</label>

                        </form>
                    </div>
                    <div class="col-md-5">
                        <h3 class="head text-center">Bill Address</h3>
                        <form class="form-signin" id="bill_form" action="" method="">
                            {% csrf_token %}
                            <label for="b_address1">Address 1:</label><input type="text" id="b_address1" name="address1" class="form-control">
                            <label for="b_address2">Address 2:</label><input type="text" id="b_address2" name="address2" class="form-control">
                            <label for="b_city">City:</label><input type="text" id="b_city" name="city" class="form-control">
                            <label for="b_state">State:</label><input id="b_state" type="text" name="state" class="form-control">
                            <label for="b_zip">Zip:</label><input type="text" id="b_zip" name="zip" class="form-control">
                            <label for="b_phone1">mobile phone:</label><input type="text" id="b_phone1" name="phone1" class="form-control">
                            <label for="b_phone2">home phone:</label><input type="text" id="b_phone2" name="phone2" class="form-control">
                            <p></p>
                        </form>
                    </div>
                    <div class="col-md-1"></div>
                    <br>
                    <p class="text-center"><button class="btn btn-success btn-outline-rounded green" id="address_submit" type="submit">Confirm<span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></button></p>
                </div>
                <div class="tab-pane fade" id="done"><div class="text-center"><i class="img-intro icon-checkmark-circle"></i></div>
                    <h3 class="head text-center">thanks for shopping! <span style="color:#f48260;">♥</span> 1 dots</h3>
                    <p class="narrow text-center">We are serving international funny ideas, high tech stuffs, independent design...</p>
                </div>
            </div>
        </div>
    </div>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="RS28UWF9LFWPL">
    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>


    <script type="text/javascript">
        var host = window.location.origin;

        var b_address1 = $("#b_address1");
        var b_address2 = $("#b_address2");
        var b_city = $("#b_city");
        var b_state = $("#b_state");
        var b_zip = $("#b_zip");
        var b_phone1 = $('#b_phone1');
        var b_phone2 = $('#b_phone2');

        var s_address1 = $("#s_address1");
        var s_address2 = $("#s_address2");
        var s_city = $("#s_city");
        var s_state = $("#s_state");
        var s_zip = $("#s_zip");
        var s_phone1 = $('#s_phone1');
        var s_phone2 = $('#s_phone2');

        $('#is_billing_address').change(function(){
            if (this.checked) {
                var add1 = $("#s_address1").val();
                var add2 = $("#s_address2").val();
                var city = $("#s_city").val();
                var state = $("#s_state").val();
                var zip = $("#s_zip").val();

                if (add1 == "" || city == "" || state == "" || zip == "") {
                    alert("shipping address info required !");
                    this.checked = false;
                }
                else {
                    $("#b_address1").val(add1);
                    $("#b_address2").val(add2);
                    $("#b_city").val(city);
                    $("#b_state").val(state);
                    $("#b_zip").val(zip);
                    $("input[type=text]").prop('disabled', true);
                }
            }
            else{
                $("#b_address1").val("");
                $("#b_address2").val("");
                $("#b_city").val("");
                $("#b_state").val("");
                $("#b_zip").val("");
                $("input[type=text]").prop('disabled', false);
            }
        });

        $('#address_submit').on('click', function(){
            var api_url = host + "/api/address/" + {{ user.pk }} + "/" + {{ order_id }} + "/";
            $.ajax({
            type: "POST",
            url: api_url,
            data : { csrfmiddlewaretoken: '{{ csrf_token }}',
                     shipping_address1: s_address1.val(),
                     shipping_address2: s_address2.val(),
                     shipping_city: s_city.val(),
                     shipping_state: s_state.val(),
                     shipping_zip: s_zip.val(),
                     shipping_phone1: s_phone1.val(),
                     shipping_phone2: s_phone2.val(),
                     billing_address1: b_address1.val(),
                     billing_address2: b_address2.val(),
                     billing_city: b_city.val(),
                     billing_state: b_state.val(),
                     billing_zip: b_zip.val(),
                     billing_phone1: b_phone1.val(),
                     billing_phone2: b_phone2.val() },
            dataType: "json"
            }).success(function(data, textStatus, jqXHR){
                alert(data["result"]);
            }).fail(function(jqXHR, textStatus){
                alert("Failed !");
            });

        });
    </script>

{% endblock %}