{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <link href="{% static 'css/cart_style.css'%}" rel="stylesheet">

    <div id="alert_msg" class="" style="display:none;"></div>

    <table class="table table-hover">
            <tr class="row featurette">
                <th class="col-md-2">Image</th>
                <th class="col-md-3">Product Name</th>
                <th class="col-md-2">Product Number</th>
                <th class="col-md-2">Price</th>
                <th class="col-md-2">Designer</th>
                <th class="col-md-1"></th>
            </tr>
        {% for product in products %}
            <tr id="row_{{ product.pk }}" class="row featurette">
                <td class="col-md-2"><img class="cartImg" src="{% static 'products' %}/{{ product.image_root }}"></td>
                <td class="col-md-3">{{ product.product_name }}</td>
                <td class="col-md-2">{{ product.product_code }}</td>
                <td class="col-md-2">${{ product.price }}</td>
                <td class="col-md-2">{{ product.designer }}</td>
                <td class="col-md-1"><button class="btn btn-default" onclick='remove_row("{{ product.pk }}")'>remove</button></td>
            </tr>
        {% endfor %}
    </table>

    <script type="text/javascript">
        var host = window.location.origin;

        function remove_row(id){
            var row_id = "#row_" + id;
            remove_from_db(id);
            $(row_id).hide();
        }

        function remove_from_db(id){
            $.ajax({
            type: "POST",
            url: host + "/api/wish/" + id + "/remove/",
            dataType: "json"
            }).success(function(data, textStatus, jqXHR){
                request_success()
            }).fail(function(jqXHR, textStatus){
                request_failed();
            });
        }

        function request_success(){
            $("#alert_msg").attr("class", "alert alert-success").html("action success !").fadeIn(1000, 0).fadeOut(2000, 0);
        }

        function request_failed(){
            $("#alert_msg").attr("class", "alert alert-warning").html("action failed, please login !").fadeIn(1000, 0).fadeOut(2000, 0);
        }
    </script>

{% endblock %}