{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <img id="mainImg" src="">

    {% for product in products %}
        <label>product name --- </label>{{ product.product_name }}<br>
        <label>product code --- </label>{{ product.product_code }}<br>
        <label>price ---------- </label>{{ product.price }}<br>
        <label>designer name -- </label>{{ product.designer }}
    {% endfor %}

{% endblock %}