{% extends "base.html" %}
{% load staticfiles %}
{% load tags %}

{% block content %}

    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <link href="{% static 'css/order_process.css'%}" rel="stylesheet">

    <div class="row">
        <div class="board">
            <div class="tab-pane fade" id="done"><div class="text-center"><i class="img-intro icon-checkmark-circle"></i></div>
                <h3 class="head text-center">thanks for shopping! <span style="color:#f48260;">♥</span> 1 dots</h3>
                <p class="narrow text-center">We are serving international funny ideas, high tech stuffs, independent design...</p>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        var host = window.location.origin;

        var b_address1 = $("#b_address1");
        var b_address2 = $("#b_address2");
        var b_city = $("#b_city");
        var b_state = $("#b_state");
        var b_zip = $("#b_zip");
        var b_phone1 = $('#b_phone1');
        var b_phone2 = $('#b_phone2');

        var s_address1 = $("#s_address1");
        var s_address2 = $("#s_address2");
        var s_city = $("#s_city");
        var s_state = $("#s_state");
        var s_zip = $("#s_zip");
        var s_phone1 = $('#s_phone1');
        var s_phone2 = $('#s_phone2');

        $('#is_billing_address').change(function(){
            if (this.checked) {
                var add1 = $("#s_address1").val();
                var add2 = $("#s_address2").val();
                var city = $("#s_city").val();
                var state = $("#s_state").val();
                var zip = $("#s_zip").val();

                if (add1 == "" || city == "" || state == "" || zip == "") {
                    alert("shipping address info required !");
                    this.checked = false;
                }
                else {
                    $("#b_address1").val(add1);
                    $("#b_address2").val(add2);
                    $("#b_city").val(city);
                    $("#b_state").val(state);
                    $("#b_zip").val(zip);
                    $("input[type=text]").prop('disabled', true);
                }
            }
            else{
                $("#b_address1").val("");
                $("#b_address2").val("");
                $("#b_city").val("");
                $("#b_state").val("");
                $("#b_zip").val("");
                $("input[type=text]").prop('disabled', false);
            }
        });

        $('#address_submit').on('click', function(){
            var api_url = host + "/api/address/" + {{ user.pk }} + "/" + {{ order_id }} + "/";
            $.ajax({
            type: "POST",
            url: api_url,
            data : { csrfmiddlewaretoken: '{{ csrf_token }}',
                     shipping_address1: s_address1.val(),
                     shipping_address2: s_address2.val(),
                     shipping_city: s_city.val(),
                     shipping_state: s_state.val(),
                     shipping_zip: s_zip.val(),
                     shipping_phone1: s_phone1.val(),
                     shipping_phone2: s_phone2.val(),
                     billing_address1: b_address1.val(),
                     billing_address2: b_address2.val(),
                     billing_city: b_city.val(),
                     billing_state: b_state.val(),
                     billing_zip: b_zip.val(),
                     billing_phone1: b_phone1.val(),
                     billing_phone2: b_phone2.val() },
            dataType: "json"
            }).success(function(data, textStatus, jqXHR){
                alert(data["result"]);
            }).fail(function(jqXHR, textStatus){
                alert("Failed !");
            });

        });
    </script>

{% endblock %}