{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <link href="{% static 'css/cart_style.css'%}" rel="stylesheet">
    <link href="{% static 'css/product_entry.css'%}" rel="stylesheet">


    <div id="alert_msg" class="" style="display:none;"></div>

    <div class="row top-bar">
        <ul id="myTab">
            <li class="col-md-4 col-sm-4 col-xs-4">
                <a href="#summary" data-toggle="tab" title="order summary">1. Shopping Cart</a>
            </li>

            <li class="col-md-4 col-sm-4 col-xs-4">
                <a href="#address" data-toggle="tab" title="address">2. Address</a>
            </li>

            <li class="active col-md-4 col-sm-4 col-xs-4">
                <a href="#payment" data-toggle="tab" title="payment">3. Payment</a>
            </li>

        </ul>
    </div>


    <div class="row" id="payment">
         <div class="col-md-9 col-sm-9 col-xs-9 outer-left">
            <div class="header">
                <h4 class="title">Payment</h4>
            </div>
            <div class="inner" style="overflow: hidden;">
                <form class="col-sm-7">
                    <fieldset class="inner" style="margin-right: 20px; padding-right:20px;border-right: 1px solid #999">
                        <legend>Credit/Debit Card</legend>
                        <div class="control-group">
                            <label label-default="" class="control-label">Card Holder's Name</label>
                            <div class="controls">
                                <input type="text" class="form-control" pattern="\w+ \w+.*" title="First and last name" required="">
                            </div>
                        </div>
                        <div class="control-group" style="margin-top: 10px">
                            <label label-default="" class="control-label">Card Number</label>
                            <div class="controls inner" style="padding-top: 0px">
                                <div class="row">
                                    <div class="col-xs-3" style="padding-right: 5px">
                                        <input type="text" class="form-control" autocomplete="off" maxlength="4" pattern="\d{4}" title="First four digits" required="">
                                    </div>
                                    <div class="col-xs-3" style="padding-right: 5px">
                                        <input type="text" class="form-control" autocomplete="off" maxlength="4" pattern="\d{4}" title="Second four digits" required="">
                                    </div>
                                    <div class="col-xs-3" style="padding-right: 5px">
                                        <input type="text" class="form-control" autocomplete="off" maxlength="4" pattern="\d{4}" title="Third four digits" required="">
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="text" class="form-control" autocomplete="off" maxlength="4" pattern="\d{4}" title="Fourth four digits" required="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group" style="margin-top: 10px">
                            <label label-default="" class="control-label">Card Expiry Date</label>
                            <div class="controls inner" style="padding-top: 0px">
                                <div class="row">
                                    <div class="col-xs-9" style="padding-right: 5px">
                                        <select class="form-control" name="cc_exp_mo">
                                            <option value="01">January</option>
                                            <option value="02">February</option>
                                            <option value="03">March</option>
                                            <option value="04">April</option>
                                            <option value="05">May</option>
                                            <option value="06">June</option>
                                            <option value="07">July</option>
                                            <option value="08">August</option>
                                            <option value="09">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-3">
                                        <select class="form-control" name="cc_exp_yr">
                                            <option>2014</option>
                                            <option>2015</option>
                                            <option>2016</option>
                                            <option>2017</option>
                                            <option>2018</option>
                                            <option>2019</option>
                                            <option>2020</option>
                                            <option>2021</option>
                                            <option>2022</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control-group" style="margin-top: 10px">
                            <label label-default="" class="control-label">Card CVV</label>
                            <div class="controls inner" style="padding-top: 0px">
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" autocomplete="off" maxlength="3" pattern="\d{3}" title="Three digits at back of your card" required="">
                                    </div>
                                    <div class="col-md-8"></div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <div class="col-sm-5">
                    <fieldset><legend>Paypal</legend></fieldset>
                    <form class="inner" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="RS28UWF9LFWPL">
                        <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
            <div class="inner">
            </div>
            <div class="inner" style="overflow: hidden">
                <div class="col-sm-9"></div>
                <div class="col-sm-3">
                    <a href="payment_success.html" data-toggle="tab" class="btn btn-block btn-info">Place order</a>
                </div>
            </div>
         </div>
        <div class="col-md-3 col-sm-3 col-xs-3 outer-right" style="margin-top: 10px;" id="payment_side_bar">
            <div class="inner">
                <table class="table">
                    <tr>
                        <td>Cart</td>
                        <td>$<span class="side_bar_item_total">0.00</span></td>
                    </tr>
                    <tr>
                        <td>Discount</td>
                        <td>$<span class="side_bar_discount_total">0.00</span></td>
                    </tr>
                    <tr>
                        <td>Tax</td>
                        <td>$<span class="side_bar_tax_total">0.00</span></td>
                    </tr>
                    <tr>
                        <td>Shipping</td>
                        <td>$<span class="side_bar_shipping_total">0.00</span></td>
                    </tr>
                    <tr>
                        <td><b>Subtotal</b></td>
                        <td>$<span class="side_bar_subtotal">0.00</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script src="{% static "js/util.js" %}"></script>
    <script type="text/javascript">
        (function() {
            function calcSubtotal(){
                var subtotal = 0;
                $('.item-table').find('.row').each(function(i){
                    subtotal += $(this).find('.item_total_price').text().substr(1) * 1;
                    $('#subtotal').text('$' + subtotal);
                });
            }

            $('.item-table').find('.row').each(function(i){
                    changeQuantity($(this), calcSubtotal);
            })
        })();
    </script>
{% endblock %}