{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <link href="{% static 'css/product_entry.css'%}" rel="stylesheet">

    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "1d0d7a7d-7be0-4769-ab66-f1a5620bb556", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
    <script type="text/javascript" src="http://coolcarousels.frebsite.nl/js/jquery.js"></script>
    <script type="text/javascript" src="http://coolcarousels.frebsite.nl/js/jquery.carouFredSel.js"></script>


    <div id="alert_msg" class="" style="display:none;"></div>
    <div class="row">
    <!----left column ---->
        <div class="col-md-8 outer-left">
            <div class="row-1 inner">
                <!-----row1 carousel --->
                <div id='carousel-custom' class='carousel slide row' data-ride='carousel'>
                    <!-- Indicators -->
                    <div class="col-sm-2">
                        <ol class='carousel-indicators mCustomScrollbar'>
                            {% for image in small_img %}
                                {% if forloop.first %}
                                    <li data-target='#carousel-custom' data-slide-to='{{ forloop.counter0 }}' class='active'>
                                {% else %}
                                    <li data-target='#carousel-custom' data-slide-to='{{ forloop.counter0 }}'>
                                {% endif %}
                                    <img src='{{ image }}' alt='' style="width: 100px; height: 100px;"/>
                                </li>
                            {% endfor %}
                        </ol>
                    </div>
                    <div class='carousel-outer col-sm-10'>
                        <!-- Wrapper for slides -->
                        <div class='carousel-inner'>
                            {% for image in big_img %}
                                {% if forloop.first %}
                                    <div class='item active'>
                                {% else %}
                                    <div class='item'>
                                {% endif %}
                                    <img src='{{ image }}' alt='' style="width: 500px; height: 500px; margin:0 45px;"/>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Controls -->
                        <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                            <span class='glyphicon glyphicon-chevron-left'></span>
                        </a>
                        <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                            <span class='glyphicon glyphicon-chevron-right'></span>
                        </a>
                    </div>
                </div>
                <span id="like">230000+</span><span id="heart" class="glyphicon glyphicon-heart"></span>
                <div class="row clearboth">
                    <div class="col-md-9 col-md-push-3">
                        <div class="col-xs-11">
                            <div class="hr"></div>
                        </div>
                    </div>
                </div>
          <!--<img id="mainImg" class="img-thumbnail" alt="Generic placeholder image">
           <div id="social_block">
                <span class='st_facebook_large' st_title="1 dots | {{ product.product_name }}" st_image="https://popdesign.s3.amazonaws.com/test/static/products/20150000004/main.jpg"></span>
                <span class='st_twitter_large'></span>
                <span class='st_googleplus_large'></span>
                <span class='st_linkedin_large'></span>
                <span class='st_pinterest_large'></span>
            </div>-->
                <div class="row">
                    <div class="col-md-9 col-md-push-3">
                        <div class="row" id="forum_row">

                        </div>
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-9">
                                <textarea id="user-comment" placeholder="Share your thoughts of this product" rows="2"></textarea>
                                <button id="comment_submit">submit</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <!----row2 product info ---->
{#            <div class="header">#}
{#                <h4 class="title">Product Info</h4>#}
{#            </div>#}
{#            <div class="row-2 inner">#}
{#                <h6 class="title">More Details</h6>#}
{#                <p></p>#}
{#                <h6 class="title">Care</h6>#}
{#                <p></p>#}
{#                <h6 class="title">Finish</h6>#}
{#                <p></p>#}
{#                <h6 class="title">Material</h6>#}
{#                <p></p>#}
{#            </div>#}

            <!---- row3 recommendation ---->
            <div class="header">
                <h4 class="title">You may also like</h4>
            </div>
            <div class="row-3 inner">
                <div id="recommendation" class="scroll-carousel">
    	            <span class="prev arrow">&lt;</span>
                    <div class="content_carousel">
                        <ul>
                            <li>
                                <a href="#">
                        	        <img src="http://placehold.it/150x150">
                                    <span>1</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                        	        <img src="http://placehold.it/150x150">
                                    <span>2</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                        	        <img src="http://placehold.it/150x150">
                                    <span>3</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                        	        <img src="http://placehold.it/150x150">
                                    <span>4</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                        	        <img src="http://placehold.it/150x150">
                                    <span>5</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                        	        <img src="http://placehold.it/150x150">
                                    <span>6</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                        	        <img src="http://placehold.it/150x150">
                                    <span>7</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                        	        <img src="http://placehold.it/150x150">
                                    <span>8</span>
                                </a>
                            </li>
                        </ul>
                    </div>
    	            <span class="next arrow">&gt;</span>
                </div>
            </div>
        </div>

    <script src="{% static "js/util.js" %}"></script>
    <script type="text/javascript">
        $(function() {
            scroll_carousel($('#recommendation'), 4);
        });
    </script>
    <style type="text/css">
    #carousel .content_carousel li {
        width: 150px;
    }
    </style>

        <!----- right column --->
        <div class="col-md-4 outer-right">
        <!--row1 product buy form -->
            <div class="inner">
                <h1 id="product_name"></h1>
{#                <p id="product_code"></p>#}
                <span id="regular_price"></span>&nbsp;<span id="sale_price"></span>&nbsp;<span id="is_in_stock">(in stock: {{ product.number_in_stock }})</span>
                <div class="hr" > </div>
                <h4>Description</h4>
                <small id="product_description">{{ product.description | safe }}</small>
                <form class="form-horizontal">
                    <div class="form-group margin-top-10">
                        <label class="col-sm-2">Size</label>
                        <div class="col-sm-4">
                            <select class="form-control">
                                <option>XS</option>
                                <option>S</option>
                                <option>M</option>
                                <option>L</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group margin-top-10">
                        <label class="col-sm-2">Color</label>
                        <div class="col-sm-4">
                            <select class="form-control">
                                <option>Red</option>
                                <option>Yellow</option>
                                <option>Blue</option>
                                <option>Brown</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group margin-top-10">
                        <label class="col-sm-2">Qty</label>
                        <div class="col-sm-4">
                            <select class="form-control" id="prod_quantity">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="hr" > </div>

          <!--<button id="product_like" class="btn btn-default btn-primary"><span id="like_count" class="badge">{{ product.number_like }}</span> Like<i style="margin-left: 5px;" class="glyphicon glyphicon-thumbs-up"></i></button>
          <br />-->

                <button id="add_to_cart" class="btn btn-default btn-block"><i style="margin-right: 5px;" class="glyphicon glyphicon-shopping-cart"></i>Add to cart</button>
                {% if show_create %}
                    <a id="create_group" class="btn btn-info btn-block"><span style="margin-right: 5px;" class="glyphicon glyphicon-user"></span>Create M-Group</a>
                {% else %}
                    <a id="view_group" class="btn btn-info btn-block"><span style="margin-right: 5px;" class="glyphicon glyphicon-user"></span>See created group</a>
                {% endif %}
              <!--<button id="add_to_wishlist" class="btn btn-default"><i style="margin-right: 5px;" class="glyphicon glyphicon-heart-empty"></i>Add to wishlist</button>-->
            </div>

        <!--row2 M-group -->
            <div class="header">
                <h4 class="title">M-Group</h4>
            </div>
            <div class="inner row-2">
                <div></div>
            </div>

        </div>
        </div>
    </div>


    <script type="text/javascript">
        var host = window.location.origin,
            image_dir = "{{ storage_host }}" + "{% static 'products/' %}",
            prod_pk = {{ product.pk }},
            btn_add = $('#add_to_cart'),
            btn_add_wish = $('#add_to_wishlist'),
            btn_remove_cart = $('#remove_from_cart'),
            btn_remove_wish = $('#remove_from_wish'),
            btn_like_product = $("#product_like"),
            number_product_like = {{ product.number_like }};

        // loading page section
        $( document ).ready(ajaxCall());

        function ajaxCall(){
            var api_url = host + "/api/products/" + prod_pk + "/?format=json";
            $.ajax({
            type: "GET",
            url: api_url,
            dataType: "json"
            }).success(function(data, textStatus, jqXHR){

                loadPage(data);
                reviews();

            }).fail(function(jqXHR, textStatus){
                $("#alert_msg").attr("class", "alert alert-warning").html("action failed  !").fadeIn(1000, 0).fadeOut(2000, 0);
            });
            $("#create_group").attr('href', generate_group_url());
            $("#view_group").attr('href', generate_group_url());
        }

        function loadPage(data){
            loadProduct(data);

        }

        function loadProduct(results){
            var img_url = image_dir + results.image_root;
            $('#mainImg').attr('src', img_url);
            $('#product_name').html(results.product_name);

            $('#regular_price').html("$" + results.price);
            if(results.is_active == false){
                $("#number_in_stock").hide();
                $('#is_in_stock').html("(out of stock)").attr('style', "color:red; font-size:small");
{#                $("#add_to_cart").prop("disabled", true);#}
            }
            else{
                $("#number_in_stock").show();
            }
            $('#product_code').html(results.product_code);

            bound_social_btn(img_url, results.product_name, "");
        }

        function bound_social_btn(image_url, title, description){
            set_social_template($('.st_facebook_large'), image_url, title, description);
            set_social_template($('.st_twitter_large'), image_url, title, description);
            set_social_template($('.st_googleplus_large'), image_url, title, description);
            set_social_template($('.st_linkedin_large'), image_url, title, description);
            set_social_template($('.st_pinterest_large'), image_url, title, description);
        }

        function set_social_template(btn_class, image_url, title, description){
            btn_class.attr('st_title', title).attr('st_image', image_url).attr('st_summary', description);
        }

        function clearAll(){
            container.empty()
        }
        // End section

        // adding or removing products section
        btn_add.on('click', function(){

            var prod_quantity = $('#prod_quantity').val();

            $.ajax({
            type: "POST",
            url: host + "/api/cart/" + prod_pk + "/add/" + prod_quantity + "/",
            dataType: "json"
            }).success(function(data, textStatus, jqXHR){
                request_success();
            }).fail(function(jqXHR, textStatus){
                request_failed();
            });
        });

        btn_add_wish.on('click', function(){
            $.ajax({
            type: "POST",
            url: host + "/api/wish/" + prod_pk + "/add/",
            dataType: "json"
            }).success(function(data, textStatus, jqXHR){
                request_success();
            }).fail(function(jqXHR, textStatus){
                request_failed();
            });
        });

        btn_like_product.on('click', function(){
            $.ajax({
            type: "POST",
            url: host + "/api/like/" + prod_pk + "/",
            dataType: "json"
            }).success(function(data, textStatus, jqXHR){
                $("#like_count").html(++number_product_like);
                btn_like_product.prop("disabled", true);
                request_success();
            }).fail(function(jqXHR, textStatus){
                request_failed();
            });
        });

        function request_success(){
            $("#alert_msg").attr("class", "alert alert-success").html("action success !").fadeIn(1000, 0).fadeOut(2000, 0);
        }

        function request_failed(){
            $("#alert_msg").attr("class", "alert alert-warning").html("action failed, please login !").fadeIn(1000, 0).fadeOut(2000, 0);
        }

        function generate_group_url(){
            return host + "/microgroup/" + prod_pk + "/{{ group.pk }}/";
        }
        // End section

        // product reviews
        function reviews(){
            var product_lite = $('<div class="row"><div class="col-xs-1"></div><div class="col-xs-9"><h6></h6><p class="comment more"></p></div></div>');
            $.ajax({
            type: "GET",
            url: host + "/api/comments/?product_id=" + prod_pk + "&format=json",
            dataType: "json"
            }).success(function(data, textStatus, jqXHR){
                $.each(data.results, function(i, item){
                    var elem = product_lite.clone();
                    elem.find('h6').html(item.reviewer);
                    var showChar = 100;
                    var ellipsesText = "...";
                    var moreText = "more";
                    var lessText = "less";
                    var content = item.comments;
                    if(content.length > showChar) {
                        var c = content.substr(0, showChar);
                        var h = content.substr(showChar - 1, content.length - showChar);
                        html = c + '<span class="moreellipses">' + ellipsesText + ' </span><span class="morecontent"><span>' + h + '</span>  <a href="" class="morelink">' + moreText + '</a></span>';
                        elem.find('p').html(html);
                    } else{
                        elem.find('p').html(content);
                    }
                    $("#forum_row").append(elem);
                    elem.find('.morelink').click(function(){
                         if($(this).hasClass("less")) {
                             $(this).removeClass("less");
                             $(this).html(moreText);
                         } else {
                             $(this).addClass("less");
                             $(this).html(lessText);
                         }
                         $(this).parent().prev().toggle();
                         $(this).prev().toggle();
                         return false;
                    });
                });
            }).fail(function(jqXHR, textStatus){
                request_failed();
            });
        }

        function refresh_comment_block(){
            $('#forum_row').empty();
            reviews();
        }

        $('#comment_submit').on('click', function(){
            var user_comment = $('#user-comment').val();
            // add validator to check no hacking contents...

            if(user_comment == ''){
                return;
            }

            $.ajax({
            type: "POST",
            url: host + "/api/forum/add-comment/" + prod_pk + "/",
            data : {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                comment: user_comment },
            dataType: "json"
            }).success(function(data, textStatus, jqXHR){
{#                alert(data["Success"]);#}
                $('#user-comment').val('');
                $('#comment_submit').prop("disabled",true);
                refresh_comment_block();
            }).fail(function(jqXHR, textStatus){
                alert("Failed !");
            });
        });
        // end section
    </script>



{% endblock %}