{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <link href="{% static "css/user_profile.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>

	<div class="col-sm-2">
        <nav class="nav-sidebar">
            <ul class="nav tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">User Profile</a></li>
              <li class=""><a href="#tab2" data-toggle="tab">Credential</a></li>
            </ul>
        </nav>
    </div>
    <!-- tab content -->
    <div class="tab-content">
        <div class="tab-pane active text-style" id="tab1">
          <div class="table-responsive">

            <p id="err_msg">{{ form.error_messages }}</p>

            <form class="form-signin" id="login_form" action="" method="post">
                {% csrf_token %}
                <label for="id_gender">Gender:</label>
                <select id="id_gender" name="gender" autofocus>
                    <option value="" selected="selected">---------</option>
                    {% if gender == 'M' %}
                        <option value="M" selected>M</option>
                        <option value="F">F</option>
                    {% else %}
                        <option value="M">M</option>
                        <option value="F" selected>F</option>
                    {% endif %}
                </select>

                <input type="checkbox" id="id_is_designer" name="is_designer"/><label class="vCheckboxLabel" for="id_is_designer">Is designer</label>
                <br>
                <label for="id_designer_type">Designer type:</label><input type="text" id="id_designer_type" name="designer_type" class="form-control" value="{{ designer_type }}">
                <label for="id_address1">Address 1:</label><input type="text" id="id_address1" name="address1" class="form-control" value="{{ address1 }}">
                <label for="id_address2">Address 2:</label><input type="text" id="id_address2" name="address2" class="form-control" value="{{ address2 }}">
                <label for="id_city">City:</label><input type="text" id="id_city" name="city" class="form-control" value="{{ city }}">
                <label for="id_state">State:</label><input id="id_state" type="text" name="state" class="form-control" value="{{ state }}">
                <label for="id_zip">Zip:</label><input type="text" id="id_zip" name="zip" class="form-control" value="{{ zip }}">
                <br>
                <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit">Save</button>
            </form>
          </div>
        </div>

        <div class="tab-pane text-style" id="tab2">
          <h2>Changed you password</h2>
           <p>Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
            et dolore magna aliquyam erat, sed diam voluptua.</p>
            <a href="/accounts/password_change">change password</a>
            <hr>
        </div>
    </div>

{% endblock %}